Repository heroui-inc/heroui, pull requests merged in 2021-10, with the labels that each got.

#50 fix(loading): accesibility
  packages/nextui/src/loading/__tests__/__snapshots__/index.test.tsx.snap
  packages/nextui/src/loading/__tests__/index.test.tsx
  packages/nextui/src/loading/loading.tsx
  packages/nextui/src/loading/spinner.tsx
Labels: type:nextui

#52 Chore switch accessibility
  packages/nextui/src/input/__tests__/__snapshots__/index.test.tsx.snap
  packages/nextui/src/input/__tests__/__snapshots__/password.test.tsx.snap
  packages/nextui/src/switch/__tests__/__snapshots__/index.test.tsx.snap
  packages/nextui/src/switch/__tests__/index.test.tsx
  packages/nextui/src/switch/switch.tsx
Labels: type:nextui, p2

#60 fix: validation function moved to utils file
  packages/docs/content/docs/components/input.mdx
  packages/docs/src/components/playground/dynamic-live.tsx
  packages/docs/src/utils/index.ts
Labels: bug, created-by: NextUI team, type:docs-md, type:docs-src

#65 fix: options buttons only shows up when the live editor is open
  packages/docs/src/components/playground/editor.tsx
Labels: created-by: NextUI team, type:docs-src

#69 Fix checkbox icon pseudo element (fix #68)
  packages/nextui/src/checkbox/checkbox.tsx
Labels: bug, good first issue, type:nextui
