Repository heroui-inc/heroui, pull requests merged in 2024-04, with the labels that each got.

#2703 fix: Calendar visibleMonth UI glitch (to v2.3.0)
  packages/core/theme/src/components/date-picker.ts
Labels: bug

#2805 fix(docs): changes related to date components
  apps/docs/content/components/date-input/readonly.ts
  apps/docs/content/components/date-input/required.ts
  apps/docs/content/components/date-input/start-end-content.ts
  apps/docs/content/components/date-input/time-zones.ts
  apps/docs/content/components/date-input/variants.ts
  apps/docs/content/components/time-input/timezones.ts
Labels: 📋 Scope : Docs

#2721 fix(cmdk): modal - searching with one char shows no results & cmdk esc does not work without recent search results
  apps/docs/components/cmdk.tsx
Labels: 🐛 Type: Bug

#2851 fix: no overflow for the installs commands list
  apps/docs/components/docs/components/package-managers.tsx
Labels: 🐛 Type: Bug, 🟠 Priority: High, 📋 Scope : Docs

#2850 fix(docs): imports missing in DatePicker
  apps/docs/content/components/date-picker/preset.ts
  apps/docs/content/components/date-picker/time-zones.ts
  apps/docs/content/components/date-picker/with-time-field.ts
Labels: 📋 Scope : Docs

#2867 feat(docs): add example how to set locale
  apps/docs/content/docs/api-references/nextui-provider.mdx
Labels: 📋 Scope : Docs

#2769 docs(guide): add an explanation for the installation guide
  apps/docs/content/docs/guide/cli.mdx
  apps/docs/content/docs/guide/installation.mdx
Labels: 🚥 Status: On Hold

#2873 fix: change sort priority - cmdk
  apps/docs/components/cmdk.tsx
Labels: 🐛 Type: Bug, 🟡 Priority: Medium

#2915 Cn utility refactor
  .changeset/few-oranges-jam.md
  packages/components/calendar/stories/calendar.stories.tsx
  packages/components/calendar/stories/range-calendar.stories.tsx
  packages/components/date-picker/stories/date-picker.stories.tsx
  packages/components/date-picker/stories/date-range-picker.stories.tsx
  packages/components/pagination/stories/pagination.stories.tsx
  packages/components/slider/stories/slider.stories.tsx
  packages/core/system-rsc/package.json
  packages/core/system-rsc/src/extend-variants.js
  packages/core/system-rsc/src/index.ts
  packages/core/system-rsc/src/utils.ts
  packages/core/system-rsc/test-utils/slots-component.tsx
  packages/core/system/src/index.ts
  packages/core/theme/package.json
  packages/core/theme/src/utils/cn.ts
  packages/core/theme/src/utils/index.ts
  packages/core/theme/src/utils/tv.ts
  packages/core/theme/src/utils/tw-merge-config.ts
  pnpm-lock.yaml
Labels: 🧱 Type: Refactoring, 💥 Type: Breaking Change, 🟡 Priority: Medium
