Repository heroui-inc/heroui, pull requests merged in 2024-10, with the labels that each got.

#3793 docs(accordion): add overflow to custom motion example
  apps/docs/content/components/accordion/custom-motion.ts
Labels: 📋 Scope : Docs

#3768 fix(theme): fullWidth in input and select
  .changeset/fast-horses-explode.md
  packages/core/theme/src/components/input.ts
  packages/core/theme/src/components/select.ts
Labels: 👀 Status: In Review

#3843 fix: incorrect domain for images
  apps/docs/config/site.ts
  apps/docs/content/components/image/blurred.ts
  apps/docs/content/components/image/fallback.ts
  apps/docs/content/components/image/loading.ts
  apps/docs/content/components/image/nextjs.ts
  apps/docs/content/components/image/usage.ts
  apps/docs/content/components/image/zoomed.ts
  packages/components/dropdown/__tests__/dropdown.test.tsx
Labels: 📋 Scope : Docs

#3516 fix(docs): typo in date picker page
  apps/docs/content/docs/components/date-picker.mdx
Labels: 📋 Scope : Docs

#3838 fix(docs): highlighted line in Select dynamic items
  apps/docs/content/docs/components/select.mdx
Labels: 📋 Scope : Docs

#3856 refactor(docs): dx improvement in accordion
  apps/docs/app/blog/[slug]/page.tsx
  apps/docs/app/blog/page.tsx
  apps/docs/app/docs/[[...slug]]/page.tsx
  apps/docs/app/feed.xml/route.ts
  apps/docs/components/blog-post.tsx
  apps/docs/components/code-window/code-block.tsx
  apps/docs/components/mdx-content.tsx
  apps/docs/content/components/accordion/bordered-variant.raw.jsx
  apps/docs/content/components/accordion/bordered-variant.ts
  apps/docs/content/components/accordion/compact.raw.jsx
  apps/docs/content/components/accordion/compact.ts
  apps/docs/content/components/accordion/controlled.raw.jsx
  apps/docs/content/components/accordion/controlled.raw.tsx
  apps/docs/content/components/accordion/controlled.ts
  apps/docs/content/components/accordion/custom-motion.raw.jsx
  apps/docs/content/components/accordion/custom-motion.ts
  apps/docs/content/components/accordion/custom-styles.raw.jsx
  apps/docs/content/components/accordion/custom-styles.ts
  apps/docs/content/components/accordion/default-expanded-keys.raw.jsx
  apps/docs/content/components/accordion/default-expanded-keys.ts
  apps/docs/content/components/accordion/disabled-keys.raw.jsx
  apps/docs/content/components/accordion/disabled-keys.ts
  apps/docs/content/components/accordion/indicator-function.raw.jsx
  apps/docs/content/components/accordion/indicator-function.ts
  apps/docs/content/components/accordion/indicator.raw.jsx
  apps/docs/content/components/accordion/indicator.ts
  apps/docs/content/components/accordion/light-variant.raw.jsx
  apps/docs/content/components/accordion/light-variant.ts
  apps/docs/content/components/accordion/multiple.raw.jsx
  apps/docs/content/components/accordion/multiple.ts
  apps/docs/content/components/accordion/shadow-variant.raw.jsx
  apps/docs/content/components/accordion/shadow-variant.ts
  apps/docs/content/components/accordion/splitted-variant.raw.jsx
  apps/docs/content/components/accordion/splitted-variant.ts
  apps/docs/content/components/accordion/start-content.raw.jsx
  apps/docs/content/components/accordion/start-content.ts
  apps/docs/content/components/accordion/subtitle.raw.jsx
  apps/docs/content/components/accordion/subtitle.ts
  apps/docs/content/components/accordion/usage.raw.jsx
  apps/docs/content/components/accordion/usage.ts
  apps/docs/content/components/accordion/variant.raw.jsx
  apps/docs/content/components/accordion/variants.ts
  apps/docs/contentlayer.config.js
  apps/docs/global.d.ts
  apps/docs/libs/contentlayer.ts
  apps/docs/libs/docs/page.ts
  apps/docs/libs/rehype-highlight-line.js
  apps/docs/libs/rehype-highlight-word.js
  apps/docs/next.config.js
  apps/docs/package.json
  apps/docs/tsconfig.json
  packages/hooks/use-aria-multiselect/src/use-multiselect.ts
  pnpm-lock.yaml
Labels: 📋 Scope : Docs

#3928 fix(docs): typos in hero section
  apps/docs/components/marketing/hero/hero.tsx
Labels: 📋 Scope : Docs

#3365 feat: add git hook to auto update dependencies
  .husky/post-merge
  .husky/post-rebase
  .husky/scripts/update-dep
Labels: ✨ Type: Enhancement
