Repository heroui-inc/heroui, pull requests merged in 2025-02, with the labels that each got.

#4639 fix(docs): failed to install dependencies in StackBlitz
  apps/docs/components/sandpack/use-sandpack.ts
  apps/docs/hooks/use-stackblitz.ts
Labels: 📋 Scope : Docs

#4797 chore(docs): remove step 2 from "Using use-theme-hook"
  apps/docs/content/docs/customization/dark-mode.mdx
Labels: 📋 Scope : Docs

#4793 docs(table): include TS examples to show Selection type usage
  apps/docs/content/components/table/controlled-selection.raw.tsx
  apps/docs/content/components/table/controlled-selection.ts
  apps/docs/content/components/table/disabled-rows.raw.tsx
  apps/docs/content/components/table/disabled-rows.ts
Labels: 📋 Scope : Docs

#4780 fix(date-picker): deprecate dateInputClassNames
  .changeset/yellow-years-listen.md
  apps/docs/content/docs/components/date-input.mdx
  apps/docs/content/docs/components/date-picker.mdx
  apps/docs/content/docs/components/date-range-picker.mdx
  packages/components/date-picker/__tests__/date-picker.test.tsx
  packages/components/date-picker/src/use-date-picker.ts
  packages/components/date-picker/src/use-date-range-picker.ts
  packages/components/date-picker/stories/date-picker.stories.tsx
Labels: 💥 Type: Breaking Change

#4757 refactor(navbar): remove dropdown menu width
  apps/docs/app/examples/navbar/with-dropdown-menu/page.tsx
  apps/docs/content/components/navbar/with-dropdown-menu.raw.jsx
  packages/components/navbar/stories/navbar.stories.tsx
Labels: 📋 Scope : Docs

#4652 fix(docs): incorrect code in Modal placement
  apps/docs/content/components/modal/placement.raw.jsx
Labels: 📋 Scope : Docs

#4539 docs(tooltip): remove shouldBlockScroll prop
  apps/docs/content/docs/components/tooltip.mdx
Labels: 📋 Scope : Docs

#4443 docs: update DatePicker example to remove "time" label
  apps/docs/content/components/date-picker/min-and-max-date.raw.jsx
Labels: 📋 Scope : Docs

#4821 fix(docs): correct Tab usage example
  apps/docs/content/docs/components/tabs.mdx
Labels: 📋 Scope : Docs

#4820 fix(docs): fix horizontal scrolling example in scroll-shadow
  apps/docs/content/components/scroll-shadow/horizontal.raw.jsx
Labels: 📋 Scope : Docs

#4810 fix(docs): incorrect default drawer placement
  apps/docs/content/docs/components/drawer.mdx
Labels: 📋 Scope : Docs

#4777 chore(docs): revised tags in doc routes for 2.7.0
  apps/docs/config/github-info.json
  apps/docs/config/routes.json
  apps/docs/config/search-meta.json
Labels: 📋 Scope : Docs

#4857 fix(docs): toast docs to have performant placement buttons
  apps/docs/app/providers.tsx
  apps/docs/content/components/toast/placement.raw.jsx
  apps/docs/content/docs/components/toast.mdx
Labels: 📋 Scope : Docs

#4881 fix(toast): fixing maxVisibleToasts, solid variant promise, promise timer
  .changeset/slow-dogs-travel.md
  packages/components/toast/src/toast-region.tsx
  packages/components/toast/src/toast.tsx
  packages/components/toast/src/use-toast.ts
  packages/components/toast/stories/toast.stories.tsx
Labels: 📦 Scope : Components

#4916 fix(docs): fixing toast not appearing on press in blog v2.7.0
  apps/docs/content/blog/v2.7.0.mdx
  apps/docs/content/components/toast/simple.raw.jsx
Labels: 📋 Scope : Docs

#4905 chore(docs): update breaking changes section
  apps/docs/content/blog/v2.7.0.mdx
Labels: 📋 Scope : Docs

#4889 fix(docs): broken link in 2.7 blog post
  apps/docs/content/blog/v2.7.0.mdx
Labels: 📋 Scope : Docs
